<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background-color: #2ad140;
            color: white;
        }
        th, td {
            padding: 15px;
            text-align : center;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            margin: 10rem auto;
            width: 80%;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Combinations</th>
            {% for student in students %}
            <th>
                {{ student }}
            </th>
            {% endfor %}
        </tr>
        {% for index in range(report_matrix|length) %}
        <tr>
            <td>{{ students[index] }}</td>
            {% for remark in report_matrix[index] %}
            <td>{{ remark }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>